#!/bin/bash

# Set the full path to the current build script so it can be unambiguously
# copied to the build directory later.
MYNAME="$(cd "$(dirname "$0")" ; pwd -P )/$(basename $0)"
echo "MYNAME is:  $MYNAME"

# Set this to be the root of your group's installation path

if [ -z "$STAGING" ]; then
    export PREFIX_ROOT="/sw/pkgs/arc"
else
    export PREFIX_ROOT="/sw/pkgs/arc/staging"
fi

if [ -n "$GL2" ]; then
    echo -e "\033[32m⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            ⠀  ⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣿⣿⣿⣿⣿⣿⣿⣶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣶⣿⣿⡿⠛⠉⠉⠉⠛⢿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⠋⡀⠀⠀⠀⠀⠀⠀⠙⣿⣿⣿⣿⣦⡀⠀⠀⠀⠀
⠀⠀⣀⣰⣶⣿⣿⣿⣿⣿⣿⣀⣀⣀⣀⣀⣀⣰⣰⣶⣿⣿⣿⣿⣿⣿⣷⣦⣤⣀
⠉⠉⠉⠉⠈⠉⠛⠛⠛⠛⣿⣿⡽⣏⠉⠉⠉⠉⠉⣽⣿⠛⠉⠉⠉⠉⠉⠉⠉⠁
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣷⣦⣄⣀⣠⣴⣾⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠿⠿⠿⠟⠋⠀⠀⠀
.....
....
...
..
.
\033[0m"
fi

# Set the location of your stored tar files for source
export SRC_ROOT=/sw/src/arc

# Uses the name of the build script to set the compiler and possibly the
# MPI name and version based on the path to the build script, e.g.,
# SCRIPT_ROOT/gcc/4.8.5/ompi/3.1.2/szip/2.1.1
#
function set_hierarchy() {
    MYPATH=($(echo $MYNAME | sed "s|$SCRIPT_ROOT/||; s|/| |g;"))
    if [ ${#MYPATH[@]} -eq 4 ] ; then
        export COMPILER_NAME=${MYPATH[0]}
        export COMPILER_VER=${MYPATH[1]}
        export PKG_NAME=${MYPATH[2]}
        export PKG_VER=${MYPATH[3]}
    elif [ ${#MYPATH[@]} -eq 7 ] ; then
        export COMPILER_NAME=${MYPATH[0]}
        export COMPILER_VER=${MYPATH[1]}
        export MPI_NAME=${MYPATH[3]}
        export MPI_VER=${MYPATH[4]}
        export PKG_NAME=${MYPATH[5]}
        export PKG_VER=${MYPATH[6]}
    elif [ ${#MYPATH[@]} -eq 2 ] ; then
        export PKG_NAME=${MYPATH[0]}
        export PKG_VER=${MYPATH[1]}
    else
        echo "The wrong number of elements appears in MYPATH"
        echo "    ${MYPATH[@]}"
        exit 9
    fi
}

# Create the PREFIX based on whether stacks are in effect or not
#
function make_prefix() {
    echo "Constructing the installation PREFIX"
    echo "PREFIX_ROOT is $PREFIX_ROOT"

    # Insure STACKS is lower case and see if it is 'yes'; if it is, then
    # reset the PREFIX_ROOT to the the top of the stacks directory.
    if [ "${STACKS,,}" == "yes" ] ; then
        echo "Using stacks"
        export PREFIX_ROOT=${PREFIX_ROOT}/stacks
        # Add the compiler name and version to the path
        if [ ! -z "${COMPILER_NAME}" -a ! -z "${COMPILER_VER}" ] ; then
                echo "Found $COMPILER_NAME and $COMPILER_VER"
                export PREFIX_ROOT=${PREFIX_ROOT}/${COMPILER_NAME}/${COMPILER_VER}
        fi
        # Add the MPI name and version to the path
        if [ ! -z "${MPI_NAME}" -a ! -z "${MPI_VER}" ] ; then
                echo "Found $MPI_NAME and $MPI_VER"
                export PREFIX_ROOT=${PREFIX_ROOT}/mpi-pkgs/${MPI_NAME}/${MPI_VER}
        fi
    fi

    # Set the final PREFIX
    export PREFIX=${PREFIX_ROOT}/${PKG_NAME}/${PKG_VER}
    # Precreate PREFIX to make sure the builder has access
    echo "Creating $PREFIX"
    mkdir -p -m 2775  $PREFIX
    if [ $? -ne 0 ] ; then
        echo "Creation of $PREFIX failed.  Exiting"
        exit 9
    fi

    # The logs go into the PREFIX directory, so create that now.
    export LOG_DIR="${PREFIX}/BUILD_LOGS"
    mkdir -p $LOG_DIR
    if [ $? -ne 0 ] ; then
        echo "Creation of $LOG_DIR failed.  Exiting"
        exit 1
    fi
}

# Function our_make() is used in build scripts to run the same make
# for each type -- compile, test, install.
#
function our_make() {
    unset make_type
    make_type="$1"
    echo
    echo "running make $make_type from $PWD"
    if [ "$make_type" == "check" -o "$make_type" == "install" ] ; then
        if [ -z $label ] ; then
            logfile=${PKG_NAME}-${PKG_VER}-make-$make_type.log
        else
            logfile=${PKG_NAME}-${PKG_VER}-${label}-make-$make_type.log
        fi
    else
        if [ -z $label ] ; then
            logfile=${PKG_NAME}-${PKG_VER}-make.log
        else
            logfile=${PKG_NAME}-${PKG_VER}-${label}-make.log
        fi
    fi
    make $make_type > ${logfile} 2>&1
    if [ $? -ne 0 ] ; then
        echo "make returned a non-zero value.  Exiting"
        exit 9
    else
        cp ${logfile} ${LOG_DIR}
        echo "[OK]   make $make_type completed successfully"
        echo "       Log file in ${LOG_DIR}/${logfile}"
        echo
    fi
}

# Set the most common compiler variables here.  These can be overridden in
# the build script.
function set_compilers() {
    if [ -z "$COMPILER_NAME" ] ; then
        echo "No COMPILER_NAME found; installing to PREFIX_ROOT"
    # GNU compilers and MPIs
    elif [ $COMPILER_NAME == "gcc" -a "$MPI_NAME" == "openmpi" ] ; then
        echo "COMPILER_NAME matched gcc and MPI_NAME matched openmpi"
        export CC=mpicc
        export CXX=mpicxx
        export FC=mpifort
        export F77=mpifort
        export F90=mpifort
    elif [ $COMPILER_NAME == "gcc" -a "$MPI_NAME" == "impi" ] ; then
        echo "COMPILER_NAME matched gcc and MPI_NAME matched impi"
        export CC=mpicc
        export CXX=mpicxx
        export FC=mpifc
        export F77=mpif77
        export F90=mpif90
    elif [ $COMPILER_NAME == "gcc" ] ; then
        echo "COMPILER_NAME matched gcc, and there was no MPI_NAME set"
        export CC=gcc
        export CXX=g++
        export FC=gfortran
        export F77=gfortran
        export F90=gfortran
    # Intel compilers and MPIs
    elif [ $COMPILER_NAME == "intel" -a "$MPI_NAME" == "openmpi" ] ; then
        echo "COMPILER_NAME matched intel and MPI_NAME matched openmpi"
        export CC=mpicc
        export CXX=mpicxx
        export FC=mpifort
        export F77=mpifort
        export F90=mpifort
    elif [ $COMPILER_NAME == "intel" -a "$MPI_NAME" == "impi" ] ; then
        echo "COMPILER_NAME matched intel and MPI_NAME matched impi"
        export CC=mpiicc
        export CXX=mpiicpc
        export FC=mpiifort
        export F77=mpiifort
        export F90=mpiifort
    elif [ $COMPILER_NAME == "intel" ] ; then
        echo "COMPILER_NAME matched intel, and there was no MPI_NAME set"
        export CC=icc
        export CXX=icpc
        export FC=ifort
        export F77=ifort
        export F90=ifort
    # PGI compilers and OpenMPI (no Intel MPI with PGI)
    elif [ $COMPILER_NAME == "pgi" -a "$MPI_NAME" == "openmpi" ] ; then
        echo "COMPILER_NAME matched pgi and MPI_NAME matched openmpi"
        export CC=mpicc
        export CXX=mpicxx
        export FC=mpifort
        export F77=mpifort
        export F90=mpifort
    elif [ $COMPILER_NAME == "pgi" ] ; then
        echo "COMPILER_NAME matched pgi, and there was no MPI_NAME set"
        export CC=pgcc
        export CXX=pgc++
        export FC=pgfortran
        export F77=pgfortran
        export F90=pgfortran
    elif [ $COMPILER_NAME == "llvm" ] ; then
        echo "COMPILER_NAME matched llvm, and there was no MPI_NAME set"
        export CC=clang
        export CXX=clang++
        export FC=flang
        export F77=flang
        export F90=flang
    fi
}

# Check to make sure that the source exists and is in a known format
#
function verify_src_archive() {
    # Check that the tar file type is known and exit if not
    if [ $TAR_TYPE != "tar.gz" -a $TAR_TYPE != "tgz" -a \
         $TAR_TYPE != "bz2"    -a $TAR_TYPE != "tar.bz2" -a \
         $TAR_TYPE != "tar.xz" -a $TAR_TYPE != "txz" ] ; then
        echo "Unknown source file format specified"
        exit 9
    fi
    # Save the full path in SRC_BALL
    SRC_BALL="${SRC_ROOT}/${PKG_NAME}/${PKG_NAME}-${PKG_VER}".${TAR_TYPE}
    echo
    echo "Verifying presence of $SRC_BALL"
    # SRC_BALL exists and is not empty?
    if [ -s "${SRC_BALL}" ] ; then
        echo -n "Using source: "
        ls ${SRC_BALL}
    else
        echo "${SRC_BALL} does not exist."
        exit 9
    fi
}

# confirm_settings prints a summary of the build setup and what the
# basic environment will look like.  Some builders like to put a read
# statement in the build files to induce a pause to review before
# the build starts.
#
function confirm_settings() {
    # Print the build options specified
    echo
    echo "Preparing to build ${PKG_NAME}/${PKG_VER} to install into"
    echo "    $PREFIX"
    echo "with build logs and build script copied to"
    echo "    $LOG_DIR"
    echo
    [ ! -z "$COMPILER_NAME" ] && echo "Using $COMPILER_NAME/$COMPILER_VER"
    [ ! -z "$MPI_NAME" ] && echo "and $MPI_NAME/$MPI_VER"
    [ ! -z "$COMPILER_NAME" ] && echo
    [ ! -z "$COMPILERS" ] && echo "with COMPILERS set to  $COMPILERS"
    [ ! -z "$COMPILER_NAME" ] && echo
    [ ! -z "$CC" ]             && echo "CC:              $CC"
    [ ! -z "$CPATH" ]          && echo "CPATH:           $CPATH"
    [ ! -z "$CFLAGS" ]         && echo "CFLAGS:          $CFLAGS"
    [ ! -z "$CXX" ]            && echo "CXX:             $CXX"
    [ ! -z "$CXXFLAGS" ]       && echo "CXXFLAGS:        $CXXFLAGS"
    [ ! -z "$FC" ]             && echo "FC:              $FC"
    [ ! -z "$FFLAGS" ]         && echo "FFLAGS:          $FFLAGS"
    [ ! -z "$CONFIG_OPTIONS" ] && echo
    [ ! -z "$CONFIG_OPTIONS" ] && echo "and these options to configure"
    [ ! -z "$CONFIG_OPTIONS" ] && echo
    [ ! -z "$CONFIG_OPTIONS" ] && echo "CONFIG_OPTIONS:  $CONFIG_OPTIONS"
    echo

    echo "Please review and press Return to continue, Ctrl-C to exit"
    read continue
}

# build_dir_setup unpacks the SRC_BALL, which should contain the SRC_DIR
# as its top level.

function build_dir_setup() {
    if [ -z "$1" ] ; then
        # Build in /var/software for speed and to avoid strict
	# permission settings in /tmp on armis2
        export BUILD_DIR="/var/software/${USER}/build"
    else
        # Build in the specified build directory
        export BUILD_DIR="$1"
    fi

    if [ ! -d "$BUILD_DIR" ] ; then
        mkdir -p "$BUILD_DIR"
    fi

    # Change to the build directory, remove any prior extracted SRC_DIR
    # extract fresh, change there, and make sure that the log directory
    # for final logs can be created.

if [ -z "$SRC_DIR" ]; then
    export SRC_DIR=$PKG_NAME-$PKG_VER
fi
    echo
    echo "Running build_dir_setup"
    cd $BUILD_DIR
    echo
    if [ -d ${SRC_DIR} ] ; then
        # Start with a freshly unpack source each and every time
        rm -rf ${SRC_DIR}
    fi
    echo 
    # Unpack based on TAR_TYPE
    if [    ${TAR_TYPE} == "tar.gz" \
         -o ${TAR_TYPE} == "tgz" ]
    then
        echo "Untarring ${SRC_BALL} in $PWD"
        tar xzf $SRC_BALL
    elif [ "${TAR_TYPE}" == "tar.bz2" ] ; then
        echo "Untarring ${SRC_BALL} in $PWD"
        tar xjf $SRC_BALL
    elif [ "${TAR_TYPE}" == "tar.xz" ] ; then
        echo "Untarring ${SRC_BALL} in $PWD"
        tar xvf $SRC_BALL
    else
        echo "Use custom extract command"
        # Enter extract command and remove exit
        echo "None specified."
        exit 9
    fi

    # SRC_DIR should match the directory into which the contents of SRC_BAL
    # is extracted; e.g., szip-2.1.1.tar.gz creates szip-2.1.1
    ls -ld ${SRC_DIR}
    cd ${SRC_DIR}
}

function run_patch() {
    module load quilt
    QUILT_PATCHES="${SCRIPT_ROOT}/patches/${PKG_NAME}" QUILT_SERIES=${PKG_VER}.series quilt push -a
    module unload quilt
}

# This is the omnibus function that Does It All.  You should list the
# called functions separately in your build script if you want to override
#
function build_setup() {
    set_hierarchy
    set_compilers
    make_prefix
    verify_src_archive
    build_dir_setup
    if [ "$1" == "PATCH" ]; then
        run_patch
    fi
#   confirm_settings
}
